@CHARSET "ISO-8859-1";
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  cursor: pointer;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: #ff0000;
}
.TaskNote{
	cursor: pointer;
	height: 100px;
	background: lightyellow;
	padding: 5px;
	display: flex;
	overflow:auto;
}
.custom-td{
	padding: 0px;
	vertical-align: middle;
	text-align: center;
}

.activeTask {
	border: solid 1px #c6e89f;
}
.taskDesc{
	display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 140px;
}

#body {
/* 	background-color: #f7fbfe; */
    background-color: #ffffff;
	border-radius: 5px;
	margin: 0 auto;
	padding: 10px 0px;
}

.thin-shadowed {
	-moz-box-shadow: 0px 0px 8px #000;
	-webkit-box-shadow: 0px 0px 8px #000;
	box-shadow: 0px 0px 8px #000;
}
.transition{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.showCompleted{
	background-color: lightblue;
    color: white;
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    text-decoration: none;	
}

.showCompleted:hover{
	color: gray;
    text-decoration: none;	
}
