@CHARSET "ISO-8859-1";
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  cursor: pointer;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: #ff0000;
}
.TaskNote{
	cursor: pointer;
	height: 100px;
	background: lightyellow;
	padding: 5px;
	display: flex;
	overflow:auto;
}
.custom-td{
	padding: 0px;
	vertical-align: middle;
	text-align: center;
}

.activeTask {
	border: solid 2px #c4c4c4;
}
.taskDesc{
	display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}